@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
<MudAppBar Elevation="1" Class="app-bar">
    <!-- Botão do menu à esquerda -->
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
<!-- Espaçador flexível -->
    <div class="flex-spacer"></div>
    <!-- Imagem centralizada -->
    <MudLink Href="/">
        <MudImage Src="logo.png" Alt="Application Logo" Class="app-logo" Width="200" Height="50" Style="margin-top: 6px; " />
    </MudLink>

    <!-- Espaçador flexível -->
    <div class="flex-spacer"></div>

    <!-- Botão à direita -->
    <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
</MudAppBar>


    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}

<style>
    .app-bar {
    background: linear-gradient(90deg, #1A237E, #0D47A1);
    color: white;
    display: flex;
}

.flex-spacer {
    flex: 1;
}

.app-logo {
    /* Se necessário, ajuste a margem ou outros estilos aqui */
}
</style>