@page "/Account/TermsOfUse"

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background: linear-gradient(135deg, #1A237E 0%, #0D47A1 100%);">

    <MudPaper Elevation="4" Class="termsofuse-container">
        <MudText Typo="Typo.h4" GutterBottom="true">Termos de uso - Envistus</MudText>
        <MudText Typo="Typo.body1">
            <strong>1. Utilização do Sistema</strong><br />
            Você concorda em não utilizar o sistema de maneira a prejudicar alguém, incluindo a plataforma Envistus. O uso do sistema deve ser feito somente através da interface disponibilizada para você como cliente, sendo proibido o acesso por outros meios.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>2. Violação de Termos</strong><br />
            A Envistus reserva o direito de interromper o serviço caso algum termo seja violado.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>3. Acesso aos Conteúdos</strong><br />
            Ao adquirir qualquer conteúdo na plataforma Envistus, você terá acesso ao material por um período de 1 ano. O cancelamento e reembolso poderão ser solicitados em até 7 dias corridos após a compra, desde que não tenha acessado mais de 25% do material adquirido.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>4. Responsabilidade do Usuário</strong><br />
            A Envistus não se responsabiliza pelas ações dos usuários dentro ou fora do sistema. É esperado respeito mútuo nas interações, sem ofensas pessoais ou a grupos.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>5. Uso Individual</strong><br />
            Os serviços oferecidos são para uso individual, intransferível e por tempo limitado. É proibida a cópia, revenda ou criação de produtos baseados nos nossos conteúdos sem autorização prévia. Qualquer violação pode levar ao cancelamento do acesso sem reembolso e aplicação de multas por danos.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>6. Segurança e Atualizações</strong><br />
            É responsabilidade do usuário manter seus dados atualizados e proteger suas credenciais de acesso. O sistema pode ser atualizado a qualquer momento, com adição, remoção ou modificação de funcionalidades.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>7. Disponibilidade do Serviço</strong><br />
            A Envistus busca manter o sistema online o máximo possível, mas interrupções podem ocorrer devido à natureza da arquitetura web.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>8. Dados do Usuário</strong><br />
            Informações postadas pelo usuário podem ser mantidas no sistema e acessíveis a outros usuários mesmo após o fechamento da conta. O conteúdo gerado pelo usuário, além do perfil, pode permanecer visível.
        </MudText>

        <MudText Typo="Typo.body1">
            <strong>9. Alterações nos Termos</strong><br />
            Os termos de uso e política de privacidade podem ser atualizados quando necessário. Os usuários serão notificados sobre mudanças e precisarão concordar com os novos termos para continuar utilizando o sistema.
        </MudText>

        <MudText Typo="Typo.body1">
            Estes termos são apresentados no momento da finalização da compra. Ao concluir a compra, você automaticamente concorda com eles.
        </MudText>
	</MudPaper>

</div>

<style>
	.termsofuse-container {
		padding: 24px;
		width: 100%;
		max-width: 1600px;
		background-color: white;
		border-radius: 8px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	}
</style>